html,
body {
  padding: 0;
  margin: 0;
  font-family:Alibaba ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: 'Alibaba';
  src: url('../public/Assets/Fonts/Alibaba-Regular.ttf') format('truetype');
  
  font-style: normal;
   }
@font-face {
  font-family: 'Alibaba';
  src: url('../public/Assets/Fonts/Alibaba-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
   }
@font-face {
  font-family: 'Alibaba';
  src: url('../public/Assets/Fonts/Alibaba-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
   }



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #f6f6f6;
  }
}
